<div>
  <section class='section'>
    <h1 class='title'>Hello <strong>{{name}},</strong></h1>
    <h2 class='subtitle'>
      Welcome to your dashboard.
    </h2>
  </section>
  {{#if posts.length}}
    <main class='container container-fluid mt-5'>
      {{#each posts as |post|}}

        <div class='post'>
          <div class='center'>
            <div class='card'><a href='/post/{{post.id}}'>
              <header class='card-header'>
                <p class='card-header-title has-text-weight-bold'>
                  {{post.title}}
                </p>
              </header></a>
              <div class='card-body'>
                <p>Posted on
                  {{format_date post.date_created}}</p>
              </div>
            </div>
            <footer class='card-footer'>
              <a
                href='/edit/{{id}}'
                data-id='{{post.id}}'
                class='card-footer-item'
              >Edit</a>
              <a data-id='{{post.id}}'
                class='card-footer-item'
                id='delete'
              >
                Delete</a>
            </footer>
          </div>
        </div>
      {{/each}}
      {{else}}<p class="pl-6">It looks like you haven't posted anything yet.</p>
    </main>
  {{/if}}
</div>
<script src='./js/dashboard.js'></script>